/*ex1*/
.button-container {
    text-align: center;
    margin-top: 100px;
}

.color-button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.color-button:nth-child(1) {
    background-color: red;
}

.color-button:nth-child(2) {
    background-color: green;
}

.color-button:nth-child(3) {
    background-color: blue;
}

.color-button:nth-child(4) {
    background-color: rgb(128, 128, 128);
}

.color-button:nth-child(5) {
    background-color: orange;
}

/*ex5*/
#rotateImage {
    width: 200px;
    height: 200px;
    margin-left: 750px;
    margin-top: 300px;
    top: 50%;
    left: 50%;
    transition: transform 0.5s ease-in-out;
}
/*ex6*/
.error {
    color: red;
}
/*ex7*/
.button-container {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    gap: 5px;
}

.button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: lightgray;
}