div.frame {
  width: auto;
  height: auto;
}

p {
  font-family: "Times New Roman";
  font-weight: bold;
}

div.header {

  margin: 0px 0px 0px 0px;
  border: 1px solid black;
  text-align: center;
}

div.first {
  border: 1px solid black;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

div.second {
  display: flex;
}

div.one {
  width: 10%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0px 0px -117px 0px;
  font-family: "Times New Roman";
  font-weight: bold;
}

aside {
  width: 90%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px -117px 0px;
  font-family: "Times New Roman";
  font-weight: bold;
}

footer {
  border: 1px solid black;
  text-align: center;
  margin: 117px 0px 0px 0px;
}
