body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#menu {
    background-color: rgb(238, 238, 238);
    margin: 10px;
    border-left: solid 8px rgb(130, 0, 0);
    border-bottom: solid 2px rgb(130, 0, 0);
}

.list-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    list-style: none;
}

.item {
    padding: 20px;
    background-color: rgb(238, 238, 238);
    color: black;
}

.item:hover {
    background-color: rgb(130, 0, 0);
    color: white;
    cursor: pointer;
}

.list-menu div {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    list-style: none;
    padding-left: 0;
    background-color: rgb(238, 238, 238);
    width: max-content;
    border-bottom: solid 2px rgb(130, 0, 0);
    border-left: none;
    border-right: none;

}

.item:hover > .sub-menu {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: stretch;
    top: 55px;
    left: 0;

}

.sub-item {
    border-bottom: solid 1px rgb(144, 141, 141);
    border-top: solid 1px rgb(144, 141, 141);
    padding: 20px;
}

.sub-item:hover {
    background-color: rgb(130, 0, 0);
    color: white;
    cursor: pointer;
}