body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma, sans-serif;
    color: black;
}

a, p {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

#section_normal_1 {
    border-bottom: 4px #d9d9d9 solid;
    height: 80px;
}

#section_normal_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section_normal_1 .container .sixteen {
    display: flex;
    justify-content: space-between;
}

#section_normal_1 .sixteen .one-thirds {
}

#section_normal_1 .sixteen .two-thirds {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#section_normal_1 .sixteen .two-thirds .htext_style {
    margin-right: 10px;
    color: #bbbbbb;
}

#section_normal_1 .sixteen .two-thirds .slow_fade {
    display: flex;
    margin-left: 10px;
}

#section_normal_4_2 {
    height: 675px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_normal_4_2 .container .sixteen, .column {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_normal_4_2 .sixteen .alpha img {
    margin-right: 30px;
}

#section_normal_4_2 .sixteen .alpha img {
    height: 500px;
    width: auto;
}

#section_normal_4_2 .sixteen .omega .bold_text.big_text.blue_text.editContent {
    font-size: 23px;
    font-weight: bold;
    color: deepskyblue;
}

#section_normal_4_2 .sixteen .omega p {
    margin: 20px 0;
}

#section_normal_4_2 .sixteen .omega .big_title.bold_text.editContent {
    font-weight: bold;
    font-size: 50px;
    color: white;
}

#section_normal_4_2 .sixteen .omega .normal_text.light_gray.editContent {
    font-size: 16px;
    color: #969696;
    margin-bottom: 40px;
}

#section_normal_4_2 .sixteen .omega a {
    margin-top: 20px;
    width: 184px;
    height: 60px;
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 2px;
    background-color: deepskyblue;
}

#section_normal_4_2 .sixteen .omega a span {
    font-weight: bold;
    font-size: 16px;
}

#section_normal_6 {
    background-color: #eeeeee;
    height: 390px;
    border-bottom: 4px #d9d9d9 solid;
}

#section_normal_6 .container {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

#section_normal_6 .container .L1_style {
    margin-bottom: 0px;
    color: #696969;
    font-size: 20px;
    margin-top: 51px;
}

#section_normal_6 .container .L2_style {
    margin-top: 10px;
    font-size: 13px;
    color: #b5b5b5;
    margin-bottom: 70px;
}

#section_normal_6 .container .wrapper-stbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section_normal_6 .container .wrapper-stbox .stbox.alpha, #section_normal_6 .container .wrapper-stbox .stbox.omega {

}

#section_normal_6 .container .wrapper-stbox .stbox.omega {
    margin-left: 24px;
}

#section_normal_6 .container .wrapper-stbox .stbox.alpha .box_1, #section_normal_6 .container .wrapper-stbox .stbox.omega .box_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 576px;
    border-bottom: 4px #d9d9d9 solid;
    background-color: white;
    border-radius: 7px;

}

#section_normal_6 .container .wrapper-stbox .b_style {
    background: #f5f5f5;
    width: 115px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 9px;
    border-down-left-radius: 9px;
}

#section_normal_6 .container .wrapper-stbox .b_style img {
    border-radius: 50%;
}

#section_normal_6 .container .wrapper-stbox .txt_style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

}

#section_normal_6 .container .wrapper-stbox .txt_style p {
    line-height: 1.5;
    font-size: 15px;
}

#section_normal_6 .container .wrapper-stbox .txt_style .stars_span {
    display: flex;
    align-items: center;
}
#section_normal_6 .container .wrapper-stbox .txt_style .env_st {
    color: #79b5fc;
    font-weight: bolder;
}

#section_agency_5 {
}

#section_agency_5 .container .center_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#section_agency_5 .center_text .f1_style{
    margin-top: 78px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #69a375;
}
#section_agency_5 .center_text .f2_style{
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 48px;
    color: #afafaf;
}
#section_agency_5 .center_text  .second_link{
border: 3px solid #69a375;
    padding: 23px 40px;
    border-radius: 3px;
    margin-bottom: 57px;
}
#section_agency_5 .center_text  .second_link a{
     color: #69a375;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
    text-underline: none;
}
#section_agency_5 .center_text .rights_st{
    color: #afafaf;
    font-weight: 500;
}
#section_agency_5 .center_text .pixfort_st{
    font-weight: 600;
    color: #69a375;
}
#section_agency_5 .center_text .pix_inline_block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 45px;width: 185px;
}
#section_agency_5 .center_text .pix_inline_block
